.blue {
  width: 100%;
  color: #fff;
  background-color: #007bff;
}
.list {
  display: flex;
  margin-bottom: 5px;
}
.form_box {
  margin: 5px 0;
}
.list_form {
  border-right: 1px solid #007bff;
  cursor: pointer;
}
