.common {
  display: flex;
  :global {
    .ant-input-affix-wrapper {
      padding: 2px 11px !important;
    }
  }
}

.scanTable {
  :global {
    .ant-table-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.labClassBox {
  width: 652px;
  margin-top: 10px;
}
.pawd_form {
  padding: 40px;
}
.receiver_form {
  padding-left: 15px;
  border-left: 1px solid #1890ff !important;
  :global {
    .ant-select-selector {
      width: 224px !important;
    }
  }
}
.batch_form {
  :global {
    .ant-picker {
      border: 1px solid #9d9fa0 !important;
      border-radius: 4px;
    }
  }
  .major_group {
    width: 200px;
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 4px !important;
    }
  }
}

.batch_form,
.receiver_form {
  :global {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      // height: 35px;
      border-radius: 4px;
    }
  }
}
