.common {
  display: flex;
}

.scanTable {
  :global {
    .ant-table-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.labClassBox {
  margin-top: 10px;
  width: 652px;
}
.pawd_form {
  padding: 40px;
}
.receiver_form {
  padding-left: 15px;
  border-left: 1px solid #cecece !important;
}
